[phases.setup]
nixPkgs = ["nodejs", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["rm -rf dist", "pnpm run build:deploy"]

[start]
cmd = "pnpm run start:prod"
